<link rel='stylesheet' href='/stylesheets/style.css' />

<body class="error-body">

<!-- <img src="/images/error404.jpg" alt="error404" id="error"> -->

<p>Click <a href="/" class="err-href">Here</a> to return to the main page!</p>

<h1>
    <%= message %>
</h1>
<h2>
    <%= error.status %>
</h2>
<pre><%= error.stack %></pre>

</body>