<div class="footer">

    <div class="pages">

        <div class="firstfoot foot">
            <h4>Contacts</h4>
            <p><a href="/#contact">adress:234 Lorem ipsum dolor.</a></p>
            <p>Telephone: (555) 555-5555</p>
            <p>Email: CCB@gmail.com</p>
            <p><a href="/#contact">Contact Form</a></p>
        </div>
        <div class="secondfoot foot">
            <h4>Pages/Forms</h4>
            <p><a href="/">Home</a></p>
            <p><a href="/#about">About us</a></p>
            <p><a href="/CCB_Courses-Form">Form For Courses</a></p>
            <p><a href="/CCB_Trainers-Form">Form For Trainers</a></p>
            <p><a href="/CCB_Students-Form">Form For Students</a></p>
            <p><a href="/CCB_Assignments-Form.html">Form For Assignments</a></p>
        </div>
    </div>
    <div class="thirdfoot foot">
        <p class="author">Dimitris Kalerantes Assignment2 2021</p>
        <div id="media"><a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
            <a href="https://www.instagram.com/" class="fab fa-instagram"></a>
            <a href="https://twitter.com/" class="fab fa-twitter-square"></a>
        </div>
    </div>


</div>