<div class="header">
    <h1>
        <%=title%>
    </h1>
    <div id="vanta-canvas" style="background-size:cover;color:green;">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Tables/Forms
                </a>
                <ul class="dropdown-menu drop-style" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/CCB_Courses-Form">Courses</a></li>
                    <li><a class="dropdown-item" href="/CCB_Students-Form">Students</a></li>
                    <li><a class="dropdown-item" href="/CCB_Trainers-Form">Trainers</a></li>
                    <li><a class="dropdown-item" href="/CCB_Assignments-Form">Assignments</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/CCB_Customers-Table">Customers Contact</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#about">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#contact">Contact</a>
            </li>
        </ul>

    </div>
</div>